django>=1.11.19
Jinja2==2.7.3
MarkupSafe==0.23
Mezzanine==3.1.10
Pillow>=3.3.2
pyyaml>=4.2b1
ansible>=2.3.1.0
beautifulsoup4==4.1.3
bleach==1.4
certifi==14.05.14
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
ecdsa==0.11
feedparser==5.1.3
filebrowser-safe==0.3.6
future==0.9.0
grappelli-safe==0.3.13
gunicorn>=19.5.0
html5lib==0.999
oauthlib==0.6.3
paramiko>=2.0.9
psycopg2==2.5.4
pytz==2014.7
requests>=2.20.0
requests-oauthlib==0.4.1
six==1.7.3
static3==0.5.1
tzlocal==1.0
wsgiref==0.1.2
